// Racool Theme Color Palette

// Red
$red-light: #f36cb3;
$red-dark:  #e37ca8;

// Pink (Magenta Akzent)
$pink-light: #ad7ef7;
$pink-dark:  #ad7ad5;

// Purple
$purple-light:  #ad7ad5;
$purple-dark: #ad7ef7;

// Blue (Primary Accent)
$blue-light: #6ca3f4;
$blue-dark:  #6ba4f6;

// Teal (Cyan)
$teal-light: #5ab4e3;
$teal-dark:  #5eb2e7;

// Green
$green-light: #3ff782;
$green-dark:  #4ec68c;

// Yellow
$yellow-light: #d8d4be;
$yellow-dark:  #f8e4bf;

// Orange (leicht angepasst aus deiner Palette gemischt)
$orange-light: #f8b88c;
$orange-dark:  #e39c7a;

// Grey Scale (an dein dunkles Theme angepasst)
$grey-050: #31344f;
$grey-100: #2b2e46;
$grey-150: #26293f;
$grey-200: #23253a;
$grey-250: #1f2134;
$grey-300: #1c1e2f;
$grey-350: #191b2b;
$grey-400: #161826;
$grey-450: #141621;
$grey-500: #12141d;
$grey-550: #10121a;
$grey-600: #0e1017;
$grey-650: #0c0e14;
$grey-700: #0a0c11;
$grey-750: #08090d;
$grey-800: #06070a;
$grey-850: #040506;
$grey-900: #020203;
$grey-950: #010101;

// White / Black
$white: #bec3ef;
$black: #1b1a27;

// Buttons (optional harmonisiert)
$button-close: #e37ca8;
$button-max: #4ec68c;
$button-min: #f8e4bf;

// Link
$links: #5eb2e7;

// Theme Accent
$default-light: $blue-light;
$default-dark: $blue-dark;
